*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat
}
#carre {
    width: 50px;
    height: 50px;
    background-color: #696966;
}

.login_title {
    margin: auto;
    font-size: 17px;
}

.title_cyber {
    padding-top: 20px;
    text-align: center;
    color: #192d3b;
}

.title_room {
    color: #0080ff;
}


.logo_image {
    border-radius:30px;
    width: 150px;
    height: 150px;
}

.login {
    border-radius: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin: 100px auto 0 auto;
    width: 30%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email {
    border: 2px solid #192d3b;     
    box-shadow: 2px 2px 5px #192d3b;     
    border-radius: 8px;
    padding: 13px 9px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 18px;
    padding: 8px 5px;     
    color: #192d3b;     
    font-size: 20px;     
    background-color: #ffffff;     
    border: 2px solid #192d3b;     
    box-shadow: 2px 2px 5px #192d3b;     
    border-radius: 8px;
}


